@tailwind base;
@tailwind components;
@tailwind utilities;


.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
}

.gallery-grid img {
  
  margin: 0;
  width: 25%;
  height: auto;
  object-fit: cover;
}

  .title-text {
    padding: 2rem;
    box-shadow: 0 1px 7px white ;
  }
   @media screen and (max-width: 800px) {
      .title-text {
        flex: 50%;
        max-width: 50%;
      }
    }
  
   

video::-webkit-media-controls {
  display: none;
}


.gallery-grid img {
  
  margin: 0;
  width: 33%;
  height: auto;
  object-fit: cover;
}

.jate-title {
  display: flex;
  justify-content: center;
}

.categories-menu {
  background-image: url('../src/assets/categories-bg2.png');
  background-size: cover;
  object-fit: none;
  object-position: right;
  height: 50vh;
}

.navbar {
  position: sticky;
  z-index: 1000;
}

/* increased img size of trash can emoji for checkout */
span[role="img"] {
  font-size: 1.5em;
  margin-left: 15px;
}

.about-us-img {
  box-shadow: 10px 10px 10px black;
}

.entre-title {
  text-shadow: 1px 2px white;
}

.products-link {
 
  top: 9%;
  left: 3%;
  
  background-color: black;
  border-radius: 20px;
  
}

@media screen and (max-width: 1020px) { 

  .login-side { display: none; }  
  
  }

  .tooltip {
    position: relative;
    display: inline-block;
   
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px white;
    border: 3px white;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 25;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  .dev-btn {
    position: absolute;
    top: 4px;
    right: 4px;
  }


  .sliding-div {
    overflow-x: hidden;
    background-color: black;
    position: absolute;
    height: 410px;
    width: 100%;
    z-index: 10;
    transition: transform 0.5s ease-in-out;
  }
  
  .remove {
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }


/* reponsive JATE Gallery */
@media screen and (max-width: 700px) {
  .categories-menu {
    background-image: url('../src/assets/bg2-small.png');
    height: 30vh;
  }
}


.team-cards {
  transition: transform .8s;
  box-shadow: 8px 8px 16px 1px black;
  overflow: hidden;
  border-radius: 16px;
}

.team-cards:hover {
  transform: scale(1.1);
  transition: all .8s ease-in-out;
}

.team-cards .social {
  position: absolute;
  visibility: hidden;
  transform: translateX(50%);
  transition: all 0.8s ease-in-out;
  
}

.team-cards:hover .social {
  transform: translateX(-48%);
  visibility: visible;
  color: white;
  display: inline-flex;
  transition: all 0.8s ease-out;
    
}

.manager-form {
  box-shadow: 8px 8px 12px green;
}

.list-contact{
  box-shadow: 8px 8px 12px green;
}